<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Informação
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>      
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-card class="card">
      <h1>{{ item.incidente }}</h1>
      <mat-list>
        <mat-list-item>Data: {{ item.date }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Status: {{ item.status === 1 ? 'Em andamento' : 'Encerrado' }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Local: {{ item.local }}</mat-list-item>
      </mat-list>
    </mat-card>
</ion-content>