@import '../../../global.scss';

.container{
    margin-top: 20px;
}

.danger{
    color: mat-color($warnPalette);
    border: 2px solid mat-color($warnPalette);
}

.buttonSubmit{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        margin-left: 8px;
        margin-right: 8px;
    }
}
.status{
    color: mat-color($primaryPalette);
    font-size: 18px;
    font-weight: 500;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }