<ion-toolbar class="navbar" color="secondary">
    <ion-buttons slot="secondary">
        <!-- <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar> -->
        <div class="perfilPic">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="">
          </div>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>CHAOS O´METER</ion-title>
</ion-toolbar>