<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CHAOS O´METER - Gerenciamento de Informações Ambientais Urbanas
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="container">
    <div class="conteudo">
      
      <div class="row">
        <div class="conteudo-quadrado col-6 verde">
          <div class="conteudo-quadrado-numero">8</div>
          <div class="conteudo-quadrado-title">Incidentes</div>
        </div>
        <div class="conteudo-quadrado col-6 vermelho">
          <div class="conteudo-quadrado-numero">8</div>
          <div class="conteudo-quadrado-title">Incidentes</div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
