@import "../../global.scss";

.container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  .conteudo{
    margin-top: 72px;
    width: 100%;
    &-quadrado{
      
      &-title{

      }
      &-numero{

      }
    }
  }
}