<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      CHAOS O´METER
    </ion-title>
    <!-- <ion-buttons slot="primary">
      <div class="perfilPic" slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="">
      </div>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="conteudo">

      <!-- cards marcadores -->
      <div class="row">
        <div class="col-6 conteudo-box">
          <mat-card class="conteudo-box-quadrado verde">
            <mat-card-title class="conteudo-box-quadrado-numero">8</mat-card-title>
            <mat-card-subtitle class="conteudo-box-quadrado-title">Incidentes</mat-card-subtitle>
          </mat-card>
        </div>
        <div class="col-6 conteudo-box">
          <mat-card class="conteudo-box-quadrado vermelho">
            <mat-card-title class="conteudo-box-quadrado-numero">2</mat-card-title>
            <mat-card-subtitle class="conteudo-box-quadrado-title">Encerrados</mat-card-subtitle>
          </mat-card>
        </div>
      </div>

      <h2 class="conteudo-titulo">Lista de Incidentes</h2>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>

        <!-- Data Column -->
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef> Info </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" aria-label="Info icon" (click)="modalInfo(element)">
              <mat-icon>info</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element">
            {{element.date}}
          </td>
        </ng-container>

        <!-- Info Column -->
        <ng-container matColumnDef="incidente">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element">
            {{element.incidente}}
          </td>
        </ng-container>

        <!-- Editar Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Excluir Column -->
        <ng-container matColumnDef="excluir">
          <th mat-header-cell *matHeaderCellDef> Excluir </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" aria-label="Example icon button with a home icon" (click)="excluirElemento(element)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">{{ 'Nenhum resultado encontrado' }}</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button (click)="criar_incidente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>