@import "../../global.scss";

.conteudo{
  width: 100%;
  padding: 20px 0;
  &-titulo{
    color: mat-color($primaryPalette);
  }
  &-box{
    @include flexCenter();
    &-quadrado{
      width: 100%;
      padding: 15px 0;
      &-numero{
        font-weight: bold;
        color: var(--ion-color-success-contrast);
        font-size: 24px;
      }
      &-title{
        color: var(--ion-color-success-contrast);
        font-size: 18px;
      }
    }
    &-quadrado.verde{
      background-color: mat-color($accentPalette);
    }
    &-quadrado.vermelho{
      background-color: mat-color($warnPalette);
    }
  }
}
table {
  margin: 20px 0 50px;
  width: 100%;
}

// .perfilPic{
//   -webkit-box-shadow: 0px 0px 131px -8px rgba(0,0,0,1);
//   -moz-box-shadow: 0px 0px 131px -8px rgba(0,0,0,1);
//   box-shadow: 0px 0px 131px -8px rgba(0,0,0,1);
//   border-radius: 99%;
//   width: 25px;
//   height: 25px;
//   margin-right: 10px;
//   margin-left: 10px;
//   img{
//       width: auto;
//       height: 100%;
//       border-radius: 99%;
//   }      
// }