@import "../../global.scss";

.container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  .conteudo{
    margin-top: 72px;
    width: 100%;
    padding: 20px 0;
    &-box{
      @include flexCenter();
      &-quadrado{
        width: 100%;
        padding: 10px 0;
        &-numero{
          font-weight: bold;
          color: var(--ion-color-success-contrast);
          font-size: 24px;
        }
        &-title{
          color: var(--ion-color-success-contrast);
          font-size: 18px;
        }
      }
      &-quadrado.verde{
        background-color: mat-color($accentPalette);
      }
      &-quadrado.vermelho{
        background-color: mat-color($warnPalette);
      }
    }
  }
  table {
    margin: 20px 0;
    width: 100%;
  }
}